/*Global Styles*/
body{
  background: #000;
  font-family: verdana;
  text-align: center;
}
/*Headings*/
h1{
  font-weight: Normal;
  font-size: 50px;
}
h2{
  font-weight: 300;
  font-size: 42px;
}
h1, h2{
  color: #FFF;
}
/*Call to Action*/
a{
  color: Aquamarine;
  font-size: 16px;
}
/*Paragraphs*/
p{
  font-size: 21px;
  color: gray;
}
/*Footer*/
footer{
  text-align: right;
}
